show.html.erb

<h1> <%= @cocktail.name %> </h1>
<p> Name:  <%=@cocktail.name %> </p>
<% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %> of <%= dose.ingredient.name %> </p>
<% end %>
<%= link_to "Back to list of all cocktails ", cocktails_path %>
